<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62862337284-bcho99e48cakifdnrkh2v2elfnvbis97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62862337284-bcho99e48cakifdnrkh2v2elfnvbis97</string>
	<key>API_KEY</key>
	<string>AIzaSyBRk3WHMN9bUq1CxLVhp0tD3rO0Fqj_fIk</string>
	<key>GCM_SENDER_ID</key>
	<string>62862337284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.microcreditmanager.mcm</string>
	<key>PROJECT_ID</key>
	<string>microcreditmanager-665cf</string>
	<key>STORAGE_BUCKET</key>
	<string>microcreditmanager-665cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62862337284:ios:27aaf21235fba003addc51</string>
</dict>
</plist>